.table {
  border-collapse: collapse;
  border: 1px solid #484848;
  width: 100%;
}

.table tr th,
.table tr td {
  border-bottom: 1px solid #484848;
  padding: 0.3rem 1.5rem;
}

.table tr td a {
  color: #ffffff;
}
